* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Rubik Mono One', sans-serif;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1.25fr 5fr;
    grid-template-rows: 7rem 1fr 4rem;
    background-image: url("../imgs/galaxy2.jpeg");
    background-size: cover;
    column-gap: 1rem;
    padding-bottom: 4rem;
}

header {
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    font-size: 5rem;
    letter-spacing: 2rem;
    color: white;
    text-shadow:
    0 0 7px #8a2be2,
    0 0 10px #8a2be2,
    0 0 21px #8a2be2,
    0 0 42px #8a2be2,
    0 0 82px #8a2be2,
    0 0 92px #8a2be2,
    0 0 102px #8a2be2,
    0 0 151px #8a2be2;
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

aside > button {
    margin: 0;
    height: 5rem;
    width: 5rem;
    color: white;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 1.5rem;
    background: transparent;
    border-color: #8a2be2;
    border-radius: 25%;
    border-width: 3.5px;
    border-style: outset;
    filter: drop-shadow(30px 10px 4px #6600cc);
    text-shadow:
}

button:hover:not(:disabled) {
    background-color: #4444dd;
    color: rgb(24, 19, 91);
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #fff,
    0 0 82px #fff,
    0 0 92px #fff,
    0 0 102px #fff,
    0 0 151px #fff;
}

button:focus {
    background-color:;
    color: rgb(24, 19, 91); 
}

button:disabled {
    background-color: #4444dd;
    color: #2a2aaf;
}

footer {
    grid-column-start: 3;
    letter-spacing: 1rem;
    font-size: 4rem;
    justify-content: flex-start;
    text-align: center;
    color: white;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-orientation: upright;
    writing-mode: vertical-lr;
    filter: drop-shadow(30px 10px 4px #6600cc);
    border-color: #8a2be2;
    border-style: outset;
    border-width: 5px;
    border-radius: 30px;
    color: white;
    text-shadow:
    0 0 7px #8a2be2,
    0 0 10px #8a2be2,
    0 0 21px #8a2be2,
    0 0 42px #8a2be2,
    0 0 82px #8a2be2,
    0 0 92px #8a2be2,
    0 0 102px #8a2be2,
    0 0 151px #8a2be2;
 }

#spaceman {
  height: auto;
  background-image: url("../imgs/astronaut.png");
  background-size: cover;
  background-position-x: 0;
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 687px;
  width: 504px;
  justify-self: flex-end;
  transform: rotate(-.04Turn);
  animation-name: spacefloat;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  }
  
  @keyframes spacefloat {
      0% {
        transform: translate(0,  0px) rotate(0);
      }
      25%  {
        transform: translate(0, 15px) rotate(3Deg);
      }
      50%  {
        transform: translate(0, 5px) rotate(0);
      }
      75%  {
        transform: translate(0, 15px) rotate(-2Deg);
      }
      100%   {
        transform: translate(0, 0) rotate(0Deg);
      } 
  }

#planet {
    width: 12rem;
    height: 12rem;
    position: absolute;
    left: 700px;
    top: 250px;
    transform: rotate(-.04Turn);
    animation-name: spacefloat;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    }
    
    @keyframes spacefloat {
        0% {
          transform: translate(0,  0px) rotate(0);
        }
        25%  {
          transform: translate(0, 15px) rotate(3Deg);
        }
        50%  {
          transform: translate(0, 5px) rotate(0);
        }
        75%  {
          transform: translate(0, 15px) rotate(-2Deg);
        }
        100%   {
          transform: translate(0, 0) rotate(0Deg);
        } 
    }

#rocket {
    width: 20rem;
    height: 20rem;
    position: absolute;
    left: 850px;
    top: 475px;
    transform: rotate(-.04Turn);
    animation-name: spacefloat;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
 }
    
    @keyframes spacefloat {
        0% {
          transform: translate(0,  0px) rotate(0);
        }
        25%  {
          transform: translate(0, 15px) rotate(3Deg);
        }
        50%  {
          transform: translate(0, 5px) rotate(0);
        }
        75%  {
          transform: translate(0, 15px) rotate(-2Deg);
        }
        100%   {
          transform: translate(0, 0) rotate(0Deg);
        } 
}

